<a href="https://colab.research.google.com/github/Baul02p/Numpy/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np #alias - np

In [4]:
# 1. CREATING ARRAYS

list1 = [1,2,3]
print(list1)

[1, 2, 3]

In [5]:
#1 dimensional array
arr_list1 = np.array(list1)
print(arr_list1)

[1 2 3]

In [6]:
print(type(arr_list1 ))

<class 'numpy.ndarray'>

In [7]:
#2 dimensional array
list1 = [1,2,3]
list2 = [4,5,6]
arr_list2 = np.array([list1,list2])
print(arr_list2)
arr_list2.ndim

[[1 2 3]
 [4 5 6]]

2

In [8]:
a = np.array([[]])  #example
a.ndim

2

In [9]:
#3 dimensional array
list1 = [1,2,3]
list2 = [4,5,6]
list3 = [7,8,9]
arr_list3 = np.array([[list1,list2,list3]])
print(arr_list3)
arr_list3.ndim

[[[1 2 3]
  [4 5 6]
  [7 8 9]]]

3

In [10]:
# 2.NUMPY ARRAY ATTRIBUTES

In [11]:
arr1 = np.array([[1,2,3],[4,5,6]])
print(arr1)

[[1 2 3]
 [4 5 6]]

In [12]:
print("Shape", arr1.shape)
print("Size", arr1.size)
print("dtype", arr1.dtype)
print("n_dim", arr1.ndim)

Shape (2, 3)
Size 6
dtype int64
n_dim 2

In [13]:
# Create 2 array- 1D and 3D, and find it's attributes

In [14]:
arr1 = np.array([1,2,3])
print("Shape", arr1.shape)
print("Size", arr1.size)
print("dtype", arr1.dtype)
print("n_dim", arr1.ndim)

Shape (3,)
Size 3
dtype int64
n_dim 1

In [15]:
arr2 = np.array([[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]])
print("Shape", arr2.shape)
print("Size", arr2.size)
print("dtype", arr2.dtype)
print("n_dim", arr2.ndim)

Shape (2, 2, 3)
Size 12
dtype int64
n_dim 3

In [16]:
# Array initialisation method

In [17]:
#zeros array
zero_arr = np.zeros((2,3))
print(zero_arr)

[[0. 0. 0.]
 [0. 0. 0.]]

In [18]:
#one array
one_arr = np.ones((2,4))
print(one_arr)

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]]

In [19]:
#full array
full_arr = np.full((3,2),8)
print(full_arr)

[[8 8]
 [8 8]
 [8 8]]

In [20]:
#Identity Matrix  #Fill 1â€™s only on the diagonal (top-left to bottom-right)
id_arr = np.eye(2,2)
print(id_arr)

[[1. 0.]
 [0. 1.]]

In [21]:
#empty array   #np.empty(6) creates an array of 6 elements with random garbage values (not zeros).
print(np.empty(3))

[5.1146e-319 0.0000e+000 1.5810e-322]

In [22]:
#evenly space array
print(np.arange(2,7,2))

[2 4 6]

In [23]:
#specific number of values between a range
print(np.linspace(1,10,3))  #it means divide 1 to 10 number in 3 parts

[ 1.   5.5 10. ]

In [24]:
#random values array (float)
r_arr = np.random.rand(3,2)   #3,2 is row & col
print(r_arr)

[[0.03636857 0.05934287]
 [0.17299214 0.68573666]
 [0.33893564 0.18687589]]

In [25]:
#random values array (int)
rint_arr = np.random.randint(1,10,(3,3))   #3,3 is row & col and 1,10 menas to print any no from 1 to 10
print(rint_arr)

[[9 8 2]
 [5 5 6]
 [2 8 9]]

In [26]:
#Array indexing & slicing
a = np.array([1,3,5,7,9])
print(a)

[1 3 5 7 9]

In [27]:
print(a[4])

9

In [28]:
a = np.array([1,3,5,7,9])
print(a)

# slicing :
# array[start:stop:step]

[1 3 5 7 9]

In [29]:
print(a[0:3:1])  #First 3 element

[1 3 5]

In [30]:
print(a[-3:])

[5 7 9]

In [31]:
print(a[0::])

[1 3 5 7 9]

In [32]:
#indexing & slicing in 2 dimensional array

In [33]:
arr2 = np.array([[1,2,3],[4,5,6]])
print(arr2)

[[1 2 3]
 [4 5 6]]

In [34]:
print(arr2[0][2])   # 0 means full 1st row and of we callas [0][1] then it will give us 2 which is in index 1

3

In [35]:
print(arr2[1])
print(arr2[1:])

[4 5 6]
[[4 5 6]]

In [36]:
print(arr2[:,1])  #brings col

[2 5]

In [37]:
# 2D : [rows,columns]
# 3D : [layers/height,rows,colums]

In [38]:
arr3 = np.array([[1,2,3],
                [4,5,6],
                [7,8,9]])
print(arr3)
arr3.ndim

[[1 2 3]
 [4 5 6]
 [7 8 9]]

2

In [39]:
print(arr3[0])
print(arr3[1])
print(arr3[2])

[1 2 3]
[4 5 6]
[7 8 9]

In [40]:
print(arr3[0][2])
print(arr3[2][2])

3
9

In [41]:
print(arr3[:,0]) #1st col value
print(arr3[:,1]) #2nd col value

[1 4 7]
[2 5 8]

In [42]:
print(arr3[::2,0])

[1 7]

In [43]:
arr3 = np.array([[1,2,3],
                [4,5,6],
                [7,8,9]])
print(arr3)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [44]:
print(arr3[::,1:2])  #slicing on cols. it takes all 1 col number and 2 is stop so it has stop before 2 index col hence resulted with only col 1 value
print(arr3[2::,1:2]) #slicing on rows and cols

[[2]
 [5]
 [8]]
[[8]]

In [45]:
print(arr3[2::,1:2]) #slicing on rows and cols

[[8]]

In [46]:
#Array Reshaping & Flattening

In [47]:
arr1 = np.array([1,2,3,4,5,6])
print(arr1)

[1 2 3 4 5 6]

In [48]:
reshaped = arr1.reshape([6,1])
print(reshaped)

[[1]
 [2]
 [3]
 [4]
 [5]
 [6]]

In [49]:
reshaped2 = arr1.reshape((2,3))
print(reshaped2)

[[1 2 3]
 [4 5 6]]

In [50]:
print(reshaped2.flatten())

[1 2 3 4 5 6]

In [51]:
#Array Stacking & Splitting

In [52]:
a = np.array([1,2,3])
b = np.array([4,5,6])

print(np.vstack((a,b)))  # vertical stacking - row wise
print(np.hstack((a,b)))  #horizontal stacking - col wise

[[1 2 3]
 [4 5 6]]
[1 2 3 4 5 6]

In [53]:
#Splitting
c = np.array([[1,2,3],[4,5,6]])
print(c)

[[1 2 3]
 [4 5 6]]

In [54]:
print(np.hsplit(c,3))

[array([[1],
       [4]]), array([[2],
       [5]]), array([[3],
       [6]])]

In [55]:
print(np.vsplit(c,2))

[array([[1, 2, 3]]), array([[4, 5, 6]])]

In [56]:
# Mathematical Operations on Array

In [57]:
a = np.array([10,20,40,-30])
print(a)

[ 10  20  40 -30]

In [58]:
print(a+10)
print(a-10)
print(a*10)
print(a/10)

[ 20  30  50 -20]
[  0  10  30 -40]
[ 100  200  400 -300]
[ 1.  2.  4. -3.]

In [59]:
b = np.array([1,4,9])
print(b)

[1 4 9]

In [60]:
print(np.square(b))
print(np.sqrt(b))

[ 1 16 81]
[1. 2. 3.]

In [61]:
# Mathematical Operations on Multiple Arrays

In [62]:
a = np.array([1,2,3])
b = np.array([4,5,6])
print(a)
print(b)

[1 2 3]
[4 5 6]

In [68]:
print(np.add(a,b))
print(np.subtract(a,b))
print(np.multiply(a,b))
print(np.divide(a,b))

[5 7 9]
[-3 -3 -3]
[ 4 10 18]
[0.25 0.4  0.5 ]

In [69]:
print(np.dot(a,b))      # 4+10+18 = 32

32