<a href="https://colab.research.google.com/github/Baul02p/Numpy/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np #alias - np

In [4]:
# 1. CREATING ARRAYS

list1 = [1,2,3]
print(list1)

[1, 2, 3]

In [5]:
#1 dimensional array
arr_list1 = np.array(list1)
print(arr_list1)

[1 2 3]

In [6]:
print(type(arr_list1 ))

<class 'numpy.ndarray'>

In [7]:
#2 dimensional array
list1 = [1,2,3]
list2 = [4,5,6]
arr_list2 = np.array([list1,list2])
print(arr_list2)
arr_list2.ndim

[[1 2 3]
 [4 5 6]]

2

In [8]:
a = np.array([[]])  #example
a.ndim

2

In [9]:
#3 dimensional array
list1 = [1,2,3]
list2 = [4,5,6]
list3 = [7,8,9]
arr_list3 = np.array([[list1,list2,list3]])
print(arr_list3)
arr_list3.ndim

[[[1 2 3]
  [4 5 6]
  [7 8 9]]]

3

In [10]:
# 2.NUMPY ARRAY ATTRIBUTES

In [11]:
arr1 = np.array([[1,2,3],[4,5,6]])
print(arr1)

[[1 2 3]
 [4 5 6]]

In [12]:
print("Shape", arr1.shape)
print("Size", arr1.size)
print("dtype", arr1.dtype)
print("n_dim", arr1.ndim)

Shape (2, 3)
Size 6
dtype int64
n_dim 2

In [13]:
# Create 2 array- 1D and 3D, and find it's attributes

In [14]:
arr1 = np.array([1,2,3])
print("Shape", arr1.shape)
print("Size", arr1.size)
print("dtype", arr1.dtype)
print("n_dim", arr1.ndim)

Shape (3,)
Size 3
dtype int64
n_dim 1

In [15]:
arr2 = np.array([[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]])
print("Shape", arr2.shape)
print("Size", arr2.size)
print("dtype", arr2.dtype)
print("n_dim", arr2.ndim)

Shape (2, 2, 3)
Size 12
dtype int64
n_dim 3

In [16]:
# Array initialisation method

In [17]:
#zeros array
zero_arr = np.zeros((2,3))
print(zero_arr)

[[0. 0. 0.]
 [0. 0. 0.]]

In [21]:
#one array
one_arr = np.ones((2,4))
print(one_arr)

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]]

In [24]:
#full array
full_arr = np.full((3,2),8)
print(full_arr)

[[8 8]
 [8 8]
 [8 8]]

In [30]:
#Identity Matrix  #Fill 1â€™s only on the diagonal (top-left to bottom-right)
id_arr = np.eye(2,2)
print(id_arr)

[[1. 0.]
 [0. 1.]]

In [38]:
#empty array   #np.empty(6) creates an array of 6 elements with random garbage values (not zeros).
print(np.empty(3))

[1. 1. 1.]

In [40]:
#evenly space array
print(np.arange(2,7,2))

[2 4 6]

In [41]:
#specific number of values between a range
print(np.linspace(1,10,3))  #it means divide 1 to 10 number in 3 parts

[ 1.   5.5 10. ]

In [48]:
#random values array (float)
r_arr = np.random.rand(3,2)   #3,2 is row & col
print(r_arr)

[[0.17771132 0.34401243]
 [0.93574667 0.50696633]
 [0.06419515 0.63148827]]

In [51]:
#random values array (int)
rint_arr = np.random.randint(1,10,(3,3))   #3,3 is row & col and 1,10 menas to print any no from 1 to 10
print(rint_arr)

[[6 5 6]
 [1 2 8]
 [3 8 8]]

In [52]:
#Array indexing & slicing
a = np.array([1,3,5,7,9])
print(a)

[1 3 5 7 9]

In [54]:
print(a[4])

9

In [ ]:
a = np.array([1,3,5,7,9])
print(a)

# slicing :
# array[start:stop:step]

In [56]:
print(a[0:3:1])  #First 3 element

[1 3 5]

In [58]:
print(a[-3:])

[5 7 9]

In [59]:
print(a[0::])

[1 3 5 7 9]

In [17]:
#indexing & slicing in 2 dimensional array

In [60]:
arr2 = np.array([[1,2,3],[4,5,6]])
print(arr2)

[[1 2 3]
 [4 5 6]]

In [62]:
print(arr2[0][2])   # 0 means full 1st row and of we callas [0][1] then it will give us 2 which is in index 1

3