<a href="https://colab.research.google.com/github/Baul02p/Numpy/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np #alias - np

In [3]:
# 1. CREATING ARRAYS

list1 = [1,2,3]
print(list1)

[1, 2, 3]

In [4]:
#1 dimensional array
arr_list1 = np.array(list1)
print(arr_list1)

[1 2 3]

In [5]:
print(type(arr_list1 ))

<class 'numpy.ndarray'>

In [6]:
#2 dimensional array
list1 = [1,2,3]
list2 = [4,5,6]
arr_list2 = np.array([list1,list2])
print(arr_list2)
arr_list2.ndim

[[1 2 3]
 [4 5 6]]

2

In [7]:
a = np.array([[]])  #example
a.ndim

2

In [8]:
#3 dimensional array
list1 = [1,2,3]
list2 = [4,5,6]
list3 = [7,8,9]
arr_list3 = np.array([[list1,list2,list3]])
print(arr_list3)
arr_list3.ndim

[[[1 2 3]
  [4 5 6]
  [7 8 9]]]

3

In [9]:
# 2.NUMPY ARRAY ATTRIBUTES

In [10]:
arr1 = np.array([[1,2,3],[4,5,6]])
print(arr1)

[[1 2 3]
 [4 5 6]]

In [11]:
print("Shape", arr1.shape)
print("Size", arr1.size)
print("dtype", arr1.dtype)
print("n_dim", arr1.ndim)

Shape (2, 3)
Size 6
dtype int64
n_dim 2

In [12]:
# Create 2 array- 1D and 3D, and find it's attributes

In [13]:
arr1 = np.array([1,2,3])
print("Shape", arr1.shape)
print("Size", arr1.size)
print("dtype", arr1.dtype)
print("n_dim", arr1.ndim)

Shape (3,)
Size 3
dtype int64
n_dim 1

In [14]:
arr2 = np.array([[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]])
print("Shape", arr2.shape)
print("Size", arr2.size)
print("dtype", arr2.dtype)
print("n_dim", arr2.ndim)

Shape (2, 2, 3)
Size 12
dtype int64
n_dim 3

In [15]:
# Array initialisation method

In [16]:
#zeros array
zero_arr = np.zeros((2,3))
print(zero_arr)

[[0. 0. 0.]
 [0. 0. 0.]]

In [17]:
#one array
one_arr = np.ones((2,4))
print(one_arr)

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]]

In [18]:
#full array
full_arr = np.full((3,2),8)
print(full_arr)

[[8 8]
 [8 8]
 [8 8]]

In [19]:
#Identity Matrix  #Fill 1â€™s only on the diagonal (top-left to bottom-right)
id_arr = np.eye(2,2)
print(id_arr)

[[1. 0.]
 [0. 1.]]

In [20]:
#empty array   #np.empty(6) creates an array of 6 elements with random garbage values (not zeros).
print(np.empty(3))

[2.79379301e-319 0.00000000e+000 6.83883256e-310]

In [21]:
#evenly space array
print(np.arange(2,7,2))

[2 4 6]

In [22]:
#specific number of values between a range
print(np.linspace(1,10,3))  #it means divide 1 to 10 number in 3 parts

[ 1.   5.5 10. ]

In [23]:
#random values array (float)
r_arr = np.random.rand(3,2)   #3,2 is row & col
print(r_arr)

[[0.09831339 0.01470832]
 [0.750731   0.32815148]
 [0.86478259 0.09884066]]

In [24]:
#random values array (int)
rint_arr = np.random.randint(1,10,(3,3))   #3,3 is row & col and 1,10 menas to print any no from 1 to 10
print(rint_arr)

[[3 2 7]
 [8 7 9]
 [5 2 7]]

In [25]:
#Array indexing & slicing
a = np.array([1,3,5,7,9])
print(a)

[1 3 5 7 9]

In [26]:
print(a[4])

9

In [27]:
a = np.array([1,3,5,7,9])
print(a)

# slicing :
# array[start:stop:step]

[1 3 5 7 9]

In [28]:
print(a[0:3:1])  #First 3 element

[1 3 5]

In [29]:
print(a[-3:])

[5 7 9]

In [30]:
print(a[0::])

[1 3 5 7 9]

In [31]:
#indexing & slicing in 2 dimensional array

In [32]:
arr2 = np.array([[1,2,3],[4,5,6]])
print(arr2)

[[1 2 3]
 [4 5 6]]

In [33]:
print(arr2[0][2])   # 0 means full 1st row and of we callas [0][1] then it will give us 2 which is in index 1

3

In [34]:
print(arr2[1])
print(arr2[1:])

[4 5 6]
[[4 5 6]]

In [35]:
print(arr2[:,1])  #brings col

[2 5]

In [36]:
# 2D : [rows,columns]
# 3D : [layers/height,rows,colums]

In [37]:
arr3 = np.array([[1,2,3],
                [4,5,6],
                [7,8,9]])
print(arr3)
arr3.ndim

[[1 2 3]
 [4 5 6]
 [7 8 9]]

2

In [38]:
print(arr3[0])
print(arr3[1])
print(arr3[2])

[1 2 3]
[4 5 6]
[7 8 9]

In [39]:
print(arr3[0][2])
print(arr3[2][2])

3
9

In [40]:
print(arr3[:,0]) #1st col value
print(arr3[:,1]) #2nd col value

[1 4 7]
[2 5 8]

In [41]:
print(arr3[::2,0])

[1 7]

In [42]:
arr3 = np.array([[1,2,3],
                [4,5,6],
                [7,8,9]])
print(arr3)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [43]:
print(arr3[::,1:2])  #slicing on cols. it takes all 1 col number and 2 is stop so it has stop before 2 index col hence resulted with only col 1 value
print(arr3[2::,1:2]) #slicing on rows and cols

[[2]
 [5]
 [8]]
[[8]]

In [44]:
print(arr3[2::,1:2]) #slicing on rows and cols

[[8]]

In [45]:
#Array Reshaping & Flattening

In [46]:
arr1 = np.array([1,2,3,4,5,6])
print(arr1)

[1 2 3 4 5 6]

In [47]:
reshaped = arr1.reshape([6,1])
print(reshaped)

[[1]
 [2]
 [3]
 [4]
 [5]
 [6]]

In [48]:
reshaped2 = arr1.reshape((2,3))
print(reshaped2)

[[1 2 3]
 [4 5 6]]

In [49]:
print(reshaped2.flatten())

[1 2 3 4 5 6]

In [50]:
#Array Stacking & Splitting

In [51]:
a = np.array([1,2,3])
b = np.array([4,5,6])

print(np.vstack((a,b)))  # vertical stacking - row wise
print(np.hstack((a,b)))  #horizontal stacking - col wise

[[1 2 3]
 [4 5 6]]
[1 2 3 4 5 6]

In [52]:
#Splitting
c = np.array([[1,2,3],[4,5,6]])
print(c)

[[1 2 3]
 [4 5 6]]

In [53]:
print(np.hsplit(c,3))

[array([[1],
       [4]]), array([[2],
       [5]]), array([[3],
       [6]])]

In [54]:
print(np.vsplit(c,2))

[array([[1, 2, 3]]), array([[4, 5, 6]])]

In [55]:
# Mathematical Operations on Array

In [56]:
a = np.array([10,20,40,-30])
print(a)

[ 10  20  40 -30]

In [57]:
print(a+10)
print(a-10)
print(a*10)
print(a/10)

[ 20  30  50 -20]
[  0  10  30 -40]
[ 100  200  400 -300]
[ 1.  2.  4. -3.]

In [58]:
b = np.array([1,4,9])
print(b)

[1 4 9]

In [59]:
print(np.square(b))
print(np.sqrt(b))

[ 1 16 81]
[1. 2. 3.]

In [60]:
# Mathematical Operations on Multiple Arrays

In [61]:
a = np.array([1,2,3])
b = np.array([4,5,6])
print(a)
print(b)

[1 2 3]
[4 5 6]

In [62]:
print(np.add(a,b))
print(np.subtract(a,b))
print(np.multiply(a,b))
print(np.divide(a,b))

[5 7 9]
[-3 -3 -3]
[ 4 10 18]
[0.25 0.4  0.5 ]

In [63]:
print(np.dot(a,b))      # 4+10+18 = 32  #dot product

32

In [64]:
#Transpose

t = np.array([[1,2,3],[4,5,6]])
print(t)
print(t.T)

[[1 2 3]
 [4 5 6]]
[[1 4]
 [2 5]
 [3 6]]

In [66]:
#statistical functions

a = np.array([[1,2,3],[4,5,6]])
print(a)

[[1 2 3]
 [4 5 6]]

In [ ]:
print(np.sum(a))
print(np.mean(a))
print(np.median(a))
print(np.std(a))
print(np.min(a))
print(np.max(a))

In [67]:
#Array comparision
a = np.array([1,2,3])
b = np.array([4,5,6])
print(a)
print(b)

[1 2 3]
[4 5 6]

In [68]:
print(a == b) #comparing each elements
print(np.array_equal(a,b))  #comparing complete array

[False False False]
False

In [69]:
#Broadcasting
a = np.array([[1,2,3],[4,5,6]])
b = np.array([10,20,30])
print(a+b)

[[11 22 33]
 [14 25 36]]

In [70]:
a = np.array([[1,2,3],[4,5,6]])
b = np.array([5])
print(a+b)

[[ 6  7  8]
 [ 9 10 11]]

In [ ]:
  # Handling Null Values & inf

In [71]:
data1 = np.array([1,2,np.nan,4,np.inf])
print(data1)

[ 1.  2. nan  4. inf]

In [73]:
print(np.isnan(data1))    #check if null value

[False False  True False False]

In [74]:
print(np.nan_to_num(data1))  #replace null value to number

[1.00000000e+000 2.00000000e+000 0.00000000e+000 4.00000000e+000
 1.79769313e+308]

In [76]:
# save & load arrays

arr = np.array([1,0,0,8])
print(arr)
np.save('my_array.npy',arr)

[1 0 0 8]

In [77]:
loaded_arr = np.load('my_array.npy')
print(loaded_arr)

[1 0 0 8]

In [ ]:
# Practice

In [ ]:
# 1.create 5x5 matrix with values from 1 to 25
# >extract last row,first column,sub matrix containing 3x3

In [78]:
arr = np.arange(1,26).reshape(5,5)
print(arr)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]
 [21 22 23 24 25]]

In [81]:
last_row = arr[-1]
print(last_row)

[21 22 23 24 25]

In [84]:
first_column = arr[:,0]

array([ 1,  6, 11, 16, 21])

In [86]:
sub_matrix = arr[1:4,1:4]
print(sub_matrix)

[[ 7  8  9]
 [12 13 14]
 [17 18 19]]

In [ ]:
# 2.Broadcasting : multiply shape - (3,1) matrix with shape (3,)

In [93]:
a = np.array([[1],[2],[3]])

b  = np.array([10,20,30])

print(a)
print(b)

[[1]
 [2]
 [3]]
[10 20 30]

In [94]:
print(a+b)

[[11 21 31]
 [12 22 32]
 [13 23 33]]